<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/clientesHandler.css">
    <title>Exibir Clientes</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/conta">Adicionar Conta</a></li>
            <li><a href="contas-handler">Contas</a></li>
            <li><a href="/cliente">Adicionar Cliente</a></li>
            <li><a href="/clientes-handler">Clientes</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Exibir Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                    <th>Idade</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>País</th>
                    <th>Ocupação</th>
                </tr>
            </thead>
            <tbody>
              
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/clientesHandler.js"></script>
</body>
</html>