<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/css/conta.css">
</head>
<body>

    <!-- NAVBAR no topo -->
    <nav>
        <ul>
            
            <li><a href="/index">Home</a></li>
            <li><a href="/conta">Adicionar Conta</a></li>
            <li><a href="/cliente">Adicionar Cliente</a></li>
        </ul>
    </nav>

    <!-- CONTAINER do conteúdo -->
    <div class="container">
        <h1>Adicionar Conta</h1>

        <label for="name">Usuário:</label>
        <input type="text" id="name" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" required>
        
        <label for="registrationNumber">Número de Registro:</label>
        <input type="text" id="registrationNumber" required>

        <label for="status">Status:</label>
        <select id="status" required>
            <option value="1">Administrador</option>
            <option value="0">Usuário</option>
        </select>

        <button id="addAccountBtn">Adicionar Conta</button>

        <p id="msg"></p>
        <p id="error-msg"></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/conta.js"></script>
</body>
</html>
